*{
    padding: 0;
    margin: 0;
    
}
.ContactSection{
    display: flex;
    flex-direction: column;
    background-image: url("images/germany.gif");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-blend-mode: overlay;
    background-color:rgba(0,0,0,0.5) ;
    height: 100vh;
}
form{
    width: 80%;
    margin: auto;
    border : 3px inset coral;
    background-image: url(images/flag.gif);
    background-repeat: no-repeat;
    background-size: cover;
}
.ContactSection form .form-div{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 80vh;
    width: 35%;
    margin: auto;
    
    
}
.ContactSection form h2{
    color:coral;
    font-size:33px;
}
.ContactSection form label{
    color:coral;
    font-size:26px;
}
.ContactSection form .input{
    display: flex;
    justify-content: space-between;
    width:100%;
}
input{
    padding-left: 15px ;
}
.ContactSection form .subject{
    display: flex;
    justify-content: space-between;
    width:100%;
}
textarea{
    width: 70%;
    height : 150px;
    background-color: aliceblue;
    padding: 15px;
}
form button{
    width: 15%;
    font-size: 20px;
    color: crimson;
}

